/*font-family: 'Dancing Script', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Pacifico', cursive;

font-family: 'Imprima', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/


article {
  float: left;
}

h1 {

}

#profilePhoto {
  width: 15em;
}
