h1 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

article {
  float: left;
  width: 15em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.template {
  display: none;
}

#profilePhoto {
  width: 15em;
}

#thumbnail {
  width: 8em;
  border: .2em solid lightgrey;
  border-radius: .5em;
}
