h1 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}


/* Navbar */

nav ul {
  background-color: black;
  padding: 0.75em;
}

nav li {
  display: inline;
  margin: 0.5em;
  padding: 0.5em;
}

nav a {
  color: #eee;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

/*end Navbar*/


article {
  float: left;
  width: 20%;
  padding: 1%;
}

h2 {
  font-size: 2em;
}

img {
  max-width: 100%;
  height: auto;
}

time {
  font-size: .75em;
  color: grey;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.template {
  display: none;
}

#hidden {
  display: none;
}

#thumbnail {
  border: .2em solid lightgrey;
  border-radius: .5em;
}

@media (max-width: 500px) {
  article {
    padding: 10%;
  }

  h2 {
    font-size: 1em;
  }
}
